<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SisGENEntities"
         connectionString="metadata=res://*/SisGES.csdl|res://*/SisGES.ssdl|res://*/SisGES.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SisGEN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
